button, input{
    background-color: #00FF8C;
    border: solid #000000;
    border-radius: 30px;
    padding: 10px;
}
body{
background-color: #3695ba;
}

img{
border-radius: 108px 108px 108px 108px;
-moz-border-radius: 108px 108px 108px 108px;
-webkit-border-radius: 108px 108px 108px 108px;
}
