@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.container {
  position: relative; /* Necesario para el posicionamiento absoluto */
  background-color: #32BB98;
}

.producto{
  float: left;
  background-color: #32BB98;
}
.body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-color:#59A3BD;!important
}
p, h1{
    padding: 0;
    margin: 0;
}

.copy{
      -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Standard syntax */
}